<h1 class="h1">Angular Practice</h1>
<!-- <app-interpolation></app-interpolation> -->
<!-- <app-prop-bind></app-prop-bind>   -->   
<!--<app-class-bind></app-class-bind>  -->
  <!--<app-style-bind></app-style-bind> -->
    <!--    <app-event-bind></app-event-bind> -->
   <!--    <app-two-way-data-bind></app-two-way-data-bind>-->
    <!--     <app-temp-ref-var></app-temp-ref-var> -->
    <!--    <app-direc-prac></app-direc-prac> -->

  <!-- parent to child communication
    <app-child-comp (childEvent)="message=$event" [parentData]="info"></app-child-comp> 
     {{message}}  --> 

      <!-- <app-pipe-prac> </app-pipe-prac> -->
          
    <!--  <app-emp-detail></app-emp-detail>
      <app-emp-list></app-emp-list> -->

<a routerLink="templateReferenceVariable" routerLinkActive="active">  </a>
 <!-- <app-post-info></app-post-info> --> 
   
 <!-- <app-temp-driven-forms></app-temp-driven-forms> -->
   <app-reactive-forms></app-reactive-forms>

   
<router-outlet></router-outlet>